
table { 
  border:1px solid #000; 
  font-family: 'Playfair Display', serif;
  font-size:16px; 
  border:1px solid #000;
  text-align:center;
  border-collapse:collapse;
} 
th { 
  background-color: hsl(180, 33%, 35%)	;
  padding:10px;
  border:1px solid #000;
  color:#fff;
  font-family: 'Playfair Display', 'Noto Sans TC', sans-serif;
} 
td { 
  border:1px solid #000;
  padding:5px;
  font-family: 'Playfair Display', 'Noto Sans TC', sans-serif;
}

.class {
  background-color: #FFFFFF;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.level{
  background-color: #FFFFFF;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.name {
  background-color: #FFFFFF;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.recipe {
  background-color: #FFFFFF;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;

}


h1{
    font-family: 'Crimson Text', 'Noto Sans TC', sans-serif;
}

p{
    font-family: 'Playfair Display', 'Noto Sans TC', sans-serif;
}